.cuerpo--noticias {
    margin-top: 55px;
}

.cuerpo--noticias--imagen {
    width: 100%;
    max-width: 420px;
}

.cuerpo--noticias--titulo__fecha {
    width: 100%;
    background-color: #e3f2fd;
}

.cuerpo--noticias--titulo {
    font-size: 20px;
    padding: 20px;
    padding-bottom: 10px;
    margin-top: -5px;
}

.cuerpo--noticias--fecha {
    padding-left: 20px;
    padding-bottom: 20px;
    font-weight: bolder;
}

.cuerpo--noticias--desarrollo {
    padding-left: 20px;
    padding-right: 20px;
}

.cuerpo--noticias--desarrollo--parrafo {
    text-align: justify;
    padding-bottom: 10px;
    text-indent: 30px;
    line-height: 1.5em; 
}

.cuerpo--noticias--autor {
    text-align: right;
    padding: 20px;
    padding-bottom: 20px;
    font-weight: bolder;
}

@media only screen and (min-width: 420px) {
    .cuerpo--noticias--imagen {
        margin-top: 30px;
        width: 100%;
        max-width: 570px;
        border-radius:5px 5px 0px 0px;
    } 

    .cuerpo--noticias--titulo__fecha {
        border-radius:0px 0px 5px 5px;
        margin: 0px;
        width: 95%;
        margin-bottom: 30px;
    }

    .inicio {
        display: flex;
        justify-content: space-around;
    }

    .cuerpo--noticias {
        max-width: 600px;
    }

    .cuerpo--noticias--cabecera {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}